{% extends 'AcmeMinsuBundle::mainLayout.html.twig' %}

{% block javascript %} {{ parent() }}
<script src="{{ asset('bundles/msk/public/js/pic/jssor.slider.min.js') }}"></script>
<script src="{{ asset('bundles/msk/public/js/pic/jquery.scrollfollow.js') }}"></script>
<script src="{{ asset('bundles/msk/public/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msk/public/js/pic/slidePic.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
// $('#myModal').modal(options);
$('.listpic ul .Rpicclii').click(function(){
// 	$('.listpic ul li img').removeClass("selectPic");
	var id = $(this).attr("val-id");
	var dscp =$(this).attr("dscp");
	$("#myModal_"+id+" .listpic ul li img" ).removeClass("selectPic");
	$(this).children("img").addClass("selectPic");
	var src =$(this).children("img").attr("src");
	$(this).parent("ul").parent(".listpic").siblings(".BigPic").children("img").attr("src",src);
	$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").text(dscp);
	$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").attr("title",dscp);

var mykey =	$(this).children("img").attr("mykey");
$(".rmbtn").attr("mykey",mykey);
$(".span_"+id+"_num").text(parseInt(mykey)+parseInt(1));
	})

	$(".roomTbBtn").click(function(){
		var id =$(this).attr("val-id");
		var size =$("#myModal_"+id+" .listpic ul .Rpicclii").size();	
		$("#myModal_"+id+" .listpic ul .Rpicclii:gt(7)").hide();
// $("#myModal_"+id+" .listpic ul .Rpicclii:gt(7)").addClass("hideli");
	});

//向前
$(".roomprevbtn").click(function(){
	var id =$(this).attr("val-id");	
	var mykey=$(this).attr('mykey');
	var num =$(this).siblings(".Rpicclii").size();
	var updatakey=parseInt(mykey)-parseInt(1);
	if(updatakey<num){
		if(mykey!=0){
			$("#myModal_"+id+" .listpic ul li img" ).removeClass("selectPic");
			$("#img_"+id+"_"+updatakey).addClass("selectPic");
			if($("#img_"+id+"_"+updatakey).parent(".Rpicclii").attr("style") == "display: none;"){
				$("#img_"+id+"_"+updatakey).parent(".Rpicclii").show();
				var hideNum =parseInt($("#img_"+id+"_"+updatakey).attr("mykey"))+parseInt(7);
				$("#myModal_"+id+" .listpic ul .Rpicclii:gt("+hideNum+")").hide();
				}
// 			style="display: none;"
			$(".rmbtn").attr("mykey",$("#img_"+id+"_"+updatakey).attr("mykey"));
			//页数
			var aa =parseInt($("#img_"+id+"_"+updatakey).attr("mykey")) +parseInt(1);
			$(".span_"+id+"_num").text(aa);
			var src =$("#img_"+id+"_"+updatakey).attr("src");
			var dscp =$("#img_"+id+"_"+updatakey).parent(".Rpicclii").attr("dscp");
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children("img").attr("src",src);
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").text(dscp);
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").attr("title",dscp);
//	 		$(this).siblings(".Rpicclii").children(".selectPic")	

			}
// 		$(this).attr("mykey",updatakey);
		}
	
// 	var thisKey =$(this).siblings(".Rpicclii").children(".selectPic").attr("mykey");
// 	alert(thisKey);
})

//向后
$(".roomnextbtn").click(function(){
	var id =$(this).attr("val-id");	
	var mykey=$(this).attr('mykey');
	var num =$(this).siblings(".Rpicclii").size();
	var updatakey=parseInt(mykey)+parseInt(1);
	if(updatakey<num){
// 		if(mykey!=num){
			$("#myModal_"+id+" .listpic ul li img" ).removeClass("selectPic");
			$("#img_"+id+"_"+updatakey).addClass("selectPic");
			if($("#img_"+id+"_"+updatakey).parent(".Rpicclii").attr("style") == "display: none;"){
				$("#img_"+id+"_"+updatakey).parent(".Rpicclii").show();
					var hideNum =parseInt($("#img_"+id+"_"+updatakey).attr("mykey"))-parseInt(7);
// 					alert(hideNum);
// 					var returnNum =parseInt(hideNum)+parseInt(1);
					$("#myModal_"+id+" .listpic ul .Rpicclii:lt("+hideNum+")").hide();
				}
			$(".rmbtn").attr("mykey",$("#img_"+id+"_"+updatakey).attr("mykey"));
			//页数
			$(".span_"+id+"_num").text(parseInt($("#img_"+id+"_"+updatakey).attr("mykey"))+parseInt(1));
			var src =$("#img_"+id+"_"+updatakey).attr("src");
			var dscp =$("#img_"+id+"_"+updatakey).parent(".Rpicclii").attr("dscp");
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children("img").attr("src",src);
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").text(dscp);
			$(this).parent("ul").parent(".listpic").siblings(".BigPic").children(".bigpicdscp").attr("title",dscp);
			
//	 		$(this).siblings(".Rpicclii").children(".selectPic")	
// 			}
// 			$(this).attr("mykey",updatakey);
		}
	
// 	var thisKey =$(this).siblings(".Rpicclii").children(".selectPic").attr("mykey");
// 	alert(thisKey);
})





$(".media-btn").click(function(){

	var id =$(this).attr("id");

	if (id == "img"){
		$("#video-play").hide();
		} else if (id == "video"){
			

			$("#video-play").show();
			}
})
})
</script>

{% endblock %}
{% block stylesheet %} {{ parent() }}
{# <link href="{{ asset('bundles/msk/public/css/details_new.css') }}" rel="stylesheet" type="text/css" media="all"/>#}
	<style type="text/css">
		.video {
			position: absolute;
				right: 15%;
		}
		.img {
			position: absolute;
		
			
			right: 20%;
		}
	</style>
{% endblock %}
{% block content%}<section class="alert">
	 	 <button type="button"class="green stateBtn" onclick='javascript:history.go(-1);'>返回</button>
{# 	 	 <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>#}
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon homstay-detail"><span>&#128196;</span></span>
			<hgroup>
				<h1>导游信息</h1>
				<button class="video media-btn" id="video">繁忙日历</button>
				<button class="img media-btn" id="img">认证照片</button>
			</hgroup>
		</header>

		<div class="content no-padding timeline">
			<div class="homestay_box_left">

			<div class="detailform"><span>导游名字</span>：<span>{{ v.real_name }}</span></div>
			<div class="detailform"><span>真实名字</span>：<span>{{ v.true_name }}</span></div>
			<div class="detailform"><span>年龄</span>：<span>{{ v.age }}</span></div>
			<div class="detailform"><span>性别</span>：<span>{% if v.gender == 0 %}女{%  elseif v.gender == 1 %}男{% endif %}</span></div>
			<div class="detailform"><span>是否接受其他景点的预定</span>：<span>{% if v.is_other == 0 %}不接受{%  elseif v.is_other == 1 %}接受{% endif %}</span></div>
			<div class="detailform"><span>申请时间</span>：<span>{{ v.NewAddTime }}</span></div>
			<div class="detailform"><span>带团时间</span>：<span>{{ v.lead_time }}</span></div>
			<div class="detailform"><span>导游经验</span>：<span>{{ v.experience }}</span></div>
			<div class="detailform"><span>导游状态</span>：<span>{% if v.state ==0  %}未认证{% elseif  v.state==1 %}认证中{% elseif  v.state==2 %}认证通过{% elseif  v.state==3 %}认证失败{% elseif  v.state==4 %}注销{% else %}禁用{% endif %}</span></div>
			<div class="detailform"><span>服务价格</span>：<span>{{ v.guide_price }}元/起</span></div>
			<div class="detailform"><span>联系电话</span>：<span>{{ v.phone }}</span></div>
			<div class="detailform"><span>导游地址</span>：<span style="font-size: 14px;">{{ v.home_address }}</span></div>
			
			</div>
			
			<div id="video-play" >
				<p style="color:red">这里以后要添加进来繁忙日历的哈</p>
			</div>
			<div class="fl img_playPar" id="img-play" display="none">
	    		<!--房屋轮播图-->	
		    		<div class="desTop fl">
		            	<!--图片轮播-->
			            <div style="position:relative;">
			                <div class="picmap-change">
			                    <div id="TabChangeCon_01" class="change-list">
										<div>
											<li style="display: none;" ><a href="#"  style="position: relative;" rel="nofollow"><video width='640px' height='480px' controls="controls"><source src="/msk-v2/web/" type="video/mp4"></video><span class="hspicdscp"></span></a></li>
										</div>
					            		<div class="picbox">
							                <ul class="piclist">
							                    
							                     
							                		<li style="display: none;" ><a href="#"  style="position: relative;" rel="nofollow"><img src="{{ cert.positive_identity }}"  width='640px' height='480px' alt=""><span class="hspicdscp"></span></a></li>
							                		<li style="display: none;" ><a href="#"  style="position: relative;" rel="nofollow"><img src="{{ cert.opposite_identity }}"  width='640px' height='480px' alt=""><span class="hspicdscp"></span></a></li>
							                		<li style="display: none;" ><a href="#"  style="position: relative;" rel="nofollow"><img src="{{ cert.guide_card }}"  width='640px' height='480px' alt=""><span class="hspicdscp"></span></a></li>
							                		<li style="display: none;" ><a href="#"  style="position: relative;" rel="nofollow"><img src="{{ cert.handheld_identity }}"  width='640px' height='480px' alt=""><span class="hspicdscp"></span></a></li>				   
							                   
							                               
							               			<a id="big_play_prev" class="home-picprev" href="#" rel="nofollow" style="cursor: url(/msk-v2/web/bundles/msk/public/images/mouseup.cur), auto; background-color: rgb(255, 255, 255); opacity: 0; top: 50%; background-position: initial initial; background-repeat: initial initial;"></a>
			                        		        <a id="big_play_next" class="home-picnext" href="#" rel="nofollow" style="cursor: url(/msk-v2/web/bundles/msk/public/images/mousedown.cur), auto; background-color: rgb(255, 255, 255); opacity: 0; bottom: 50%; background-position: initial initial; background-repeat: initial initial;"></a>
					            			</ul>
										</div>
			                            <div class="picsmallbox">
			    			  				<div class="picboxpic">
					            				<ul id="picsmall" class="picsmall clearfix" >
					            					<li class="minPic"><a href="#" rel="nofollow"><img src="{{ v.real_avatar }}" width="90px" height="90px" alt=""></a></li>
						                		</ul>
			            	          		</div>

					        				<a id="play_prev" class="play-prev" href="#" rel="nofollow"></a>
					        				<a id="play_next" class="play-next" href="#" rel="nofollow"></a>
				        					<div class="translucence"></div>
				    					</div>
			        			</div>
			    			</div>
			    		</div>
					</div>
		       	 <!--图片轮播结束-->

		    </div>

		    <!-- 房间信息 -->
			<div class="roomTable">
				<table id="myTable" border="0" >
						<thead>
							<tr>
								<th class="avatar" style="padding-left: 90px;">订单数量</th>
								<th>评论数量</th>
								<th>旅行相册</th>
								<th>带团景点</th>
							</tr>
						</thead>
						<thead>
							<tr>
							   <th class="avatar" style="padding-left: 90px;"><a href="#">暂不开放</a></th>
							   <th><a href="{{ path('guideDataComment_',{'guide_id':v.guide_id}) }}">{{ comment }}</a></th>
							   <th><a href="{{ path('guideDataAlbum_',{'guide_id':v.guide_id}) }}">{{ album }}</a></th>
							   <th><a href="{{ path('guideDataTravel_',{'guide_id':v.guide_id}) }}">{{ travel }}</a></th>

							</tr>
						<thead>
				</table>   
			</div>
				
	</section>
</section>



<div class="modal fade" id="myModal_disagree" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="flase">
  <div class="modal-dialog" style="margin-top:180px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" style="font-family: '微软雅黑';font-size: 16px;font-weight: 600;">不通过的理由</h4>
      </div>
      <div class="modal-body" style="text-align: center;">
      <textarea  name='HomeStayReason' id="HomeStayReason" rows="" cols="" style="height: 100px;"></textarea>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary disagreeBtn"  id-val="2" state-vale="2" >提 交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


{% endblock%}
