{% extends 'AcmeMinsuBundle::mainLayout.html.twig' %}

{% block javascript %} {{ parent() }}
<script src="{{ asset('bundles/msk/public/js/jquery.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(".delHotCit").click(function(){
		var id=$(this).attr('val-id');
		$.ajax({
			type:"POST",
			data:"&HotCityId="+id,
			dataType: "json", 
			url:"{{ path('deleteHotCity_') }}",
			success:function(msg){
				if (msg === '1'){
					alert("成功删除！");
					}
				  location.reload();
			}
		});
	});


	$(".SmallImg").mouseover(function(){
// alert(123);
		})
	
})
</script>
{% endblock %}

{% block content%}<section class="alert">
		  <button type="button"  onclick="location='{{ path('AddHotCity_') }}'" class="green stateBtn">新  增</button>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon homstay-detail"><span>&#128196;</span></span>
			<hgroup>
				<h1>热门城市</h1>
			</hgroup>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						<th>排序</th>
						<th>城市</th>
						<th>图片</th>
						<th>操作</th>
					</tr>
				</thead>
					<tbody>
					{% for v in HotCL %}
						<tr>
						 	<td style="padding-left: 50px;">{{ v.sort }}</td>
							<td>{{ v.area_name }}</td>
							<td><img  class='SmallImg' style="width: 66px;" src="{{ path }}{{ v.img }}"></td>
							<td><button type='button'  val-id="{{ v.id }}"  class="green" onclick="location='{{ path('AddHotCity_',{hotCityId:v.id}) }}'" >编辑</button><button type='button' class="red delHotCit"  val-id="{{ v.id }}" >删除</button></td>
						</tr>
					{% endfor %}
			

					</tbody>
				</table>
		</div>
	</section>
</section>

{% endblock%}
