{% extends 'AcmeMinsuBundle::mainLayout.html.twig' %}
{% block javascript %} {{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/msk/public/js/jquery-1.7.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/msk/public/js/ajaxfileupload.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){


	$("[name='artImage']").live("change",function(){

		  var filepath=$("#uploadImage").val();
		  var extStart=filepath.lastIndexOf(".");
		  var ext=filepath.substring(extStart,filepath.length).toUpperCase();
		  if(ext!=".BMP"&&ext!=".PNG"&&ext!=".GIF"&&ext!=".JPG"&&ext!=".JPEG"){
		  alert("图片限于bmp,png,gif,jpeg,jpg格式");
		  return false;
		  }else{
//		 		alert(1);
				$.ajaxFileUpload({
					url:'{{ path('upload_points_goods_img_') }}',
					secureuri:false,
					fileElementId:'uploadImage',
					//fileElementId:type,
					dataType: 'json',
					success: function(data){
					  var name=data.fileName;
	 				  var accName=data.accName;
				//	  var url='/msk2016/web/bundles/msk/upload/admin/'+accName+'/'+name;
var url='/bundles/msk/upload/admin/'+accName+'/'+name;
					  $("[name='img']").attr('width','65%');
		 			  $("[name='img']").attr('height','65%');
					  $("[name='img']").attr('src',url);
					  $("#hiddenImgName").val(name);
					  $(".filename").val(name)
					}
				})
			  }
		  		

		});

	$(".filenamebutton").click(function(){$("#uploadImage").click();})

	$("#saveHotCity").click(function(){
		if($("#hiddenImgName").val()){
			$("form").submit();
			}else{
				alert("请上传积分商品图片！");
				}
		})



})
</script>
{% endblock %}

{% block content%}<section class="alert">
{# 		  <button type="button" val=''onclick="javascript:history.go(-1)" class="green stateBtn">返  回</button>#}
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon homstay-detail"><span>&#128196;</span></span>
			<hgroup>
				<h1>新增积分商品</h1>
			</hgroup>
		</header>
	<div class="content">
	<form method="post" action="{% if v!='' %}{{ path('EditSavePointsGoods_') }}{% else %}{{ path("SavePointsGoods_") }}{% endif %}">
	<input id='hiddenImgName' type="hidden"  value='{% if v!='' %}{{ v.goods_images }}{% endif %}' name="hiddenImgName">
			<div class="field-wrap">
			<table width="100%" style="font-size: 16px;font-family: '微软雅黑';">
			<tr>
			<th width="15%" >商品名称</th>
			<td><input  name="goods_name" type="text" value="{% if v != ''%}{{ v.goods_name }}{% endif %}" style="width: 30%;"  maxlength="16"></td>
			</tr>
			
			<tr>
			<th width="15%">兑换积分</th>
			<td><input name="goods_points" type="text" value="{% if v != ''%}{{ v.goods_points }}{% endif %}" style="width: 30%;"maxlength="16"></td>
			</tr>
			
			<tr>
			<th width="15%">库存</th>
			<td><input  name="quantity" type="text" style="width: 30%;" value="{% if v != ''%}{{ v.quantity }}{% endif %}" maxlength="16"></td>
			</tr>
			<tr>
			<th width="15%">排序</th>
			<td><input  name='sort' type="text"  style="width: 30%;" value="{% if v != ''%}{{ v.sort }}{%else%}0{% endif %}"  maxlength="10"/></td>
			</tr>
			<tr>
			<th width="15%">上下架（0：上架/1：下架）</th>
			<td><input  name="state" type="text" style="width: 30%;" value="{% if v != ''%}{{ v.state }}{%else%}0{% endif %}" maxlength="1"></td>
			</tr>
			
			</table>
		
	
			</div>
			<br><br>
		<p class="base-infor "style="font-family: '微软雅黑'; width: 50%;"> 上传积分商品图片</p>	
		<div class="upload-pic" style="width: 50%;">
                <img name="img" src="{% if v!='' %}{{ v.img_url }}{% else %}{{ asset('bundles/msk/public/none.jpg') }}{% endif %}"> 
        </div>	
        <br>
{#         align="center"#}
                <div class="uploader white">
                    <input type="text" class="filename" readonly value="{% if v!='' %}{{ v.goods_images }}{% else %}请选择图片{% endif %}">
                    <button type="button" name="file" class="filenamebutton green" >选择图片</button>
                    <input  style="width: 50%;" type="file" size="30" name="artImage" id="uploadImage">
				</div>
        <br>

		<div class="roomSerBtnDiv"><button type="button" id='saveHotCity' class="green">保  存</button> <button type="button" onclick="javascript:history.go(-1)" class="red">取  消</button></div>	
	{% if v!='' %}<input name='goodsId' type='hidden' value="{{ v.id }}">{% endif %}
	</form>
	</div>
	</section>
</section>
{% endblock%}

