{% extends 'AcmeMinsuBundle::mainLayout.html.twig' %}

{% block javascript %} {{ parent() }}
<script src="{{ asset('bundles/msk/public/js/jquery.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
// alert(123);
$(".stateBtn").click(function(){
	$("[name='isOwner']").val($(this).attr("val"));
	$("form").submit();
})
})



function tourStateChange(obj) {
	var order_sn = $(obj).attr('order_sn');
	var order_status = $(obj).attr('order_status');
	var pay_status = $(obj).attr('pay_status');
	$.ajax({
		type: "POST",
		url: "{{ path('tourOrderStateChange_') }}",
		data: {'order_sn': order_sn, "order_status": order_status,"pay_status":pay_status},
		dataType: "json",
		success: function (data) {
			location.reload();
		}
	})
}

$(document).ready(function () {
	$(".page-dis [href]").each(function () {
		if (this.href == window.location.href) {
			$(this).addClass("active");
		}
	})
});
</script>
{% endblock %}

{% block stylesheet %} {{ parent() }}
	<link href="{{ asset('bundles/msk/public/css/user.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content%}<section class="alert">
	<form method="post" action="">
	<div>
	<input type="text" class='searchText'  name="searchText" placeholder="  搜  索">
	<select class="searchSelect" name="searchType" ><option value="nic">旅行社名称</option><option value="acc">团游名称</option></select>
	<input class="green searchbuttoninput" type="submit" value="搜 索">
	 <button type="button" val='4' class="green stateBtn" style="margin-top: -10px;">已删除</button>
	 <button type="button" val='3' class="green stateBtn" style="margin-top: -10px;">已支付</button>
     <button type="button" val='2' class="green stateBtn" style="margin-top: -10px;">待支付</button>
	 <button type="button" val='1' class="green stateBtn" style="margin-top: -10px;">已下单</button>
	 <button type="button" val='' class="green stateBtn" style="margin-top: -10px;">全部订单</button>
	</div>

	<input type ="hidden" name ="isOwner">
	 	 
{# 		  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
{#   Launch demo modal#}
{# </button>#}
	</form>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon homstay-detail"><span>&#128196;</span></span>
			<hgroup>
				<h1>团游信息</h1>
			</hgroup>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						<th class="avatar" style="padding-left: 80px;">名称	</th>
						<th>旅行社名称</th>
						<th>价格/人数</th>
						<th>期数</th>
						<th>报名人数</th>
						<th>状态</th>
						<th>下单时间</th>
						<th>审视</th>
						<th>操作</th>
					</tr>

				</thead>
					<tbody>
					{% for v in dataList %}
						<tr>
							<td class="avatar" ><img src="{{ v.tour_img }}" alt="" height="60" width="60" /> {{ v.goods_name }}</td>
{# 							<td>{{ v.goods_name }}</td>#}
							<td>{{ v.agency_name }}</td>
							<td>成人{{ v.adult_price }}*{{ v.adult_num }}/儿童{{ v.child_price }}*{{ v.child_num }}</td>
							<td>{{ v.period }}</td>
							<td>{{ v.adult_price }}</td>
							<td>{{ v.common_status }}</td>
							<td>{{ v.NewAddTime }}</td>
{# 							{{ path('homestayDetail_',{'hid':v.tour_id}) }}#}
                            <td><button class="green"  onclick="location='{{ path('apiTourOrderDataDetail_',{'order_sn':v.order_sn}) }}'">详情</button>
							</td>
							<td>
								<div class="btn-group">
								  <button type="button" class="btn btn-success">更改状态</button>
								  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
								    <span class="caret"></span>
								    <span class="sr-only">Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu" role="menu">
								    <li><a order_status="1" pay_status="" order_sn="{{ v.order_sn }}" onclick="tourStateChange(this)">确认订单</a></li>
								    <li><a order_status="2" pay_status=""  order_sn="{{ v.order_sn }}" onclick="tourStateChange(this)">取消订单</a></li>
								    <li><a order_status="3" pay_status=""  order_sn="{{ v.order_sn }}" onclick="tourStateChange(this)">订单无效</a></li>
								    <li><a order_status="" pay_status="1" order_sn="{{ v.order_sn }}" onclick="tourStateChange(this)">已经支付</a></li>
								    <li><a order_status="4" pay_status=""  order_sn="{{ v.order_sn }}" onclick="tourStateChange(this)">删除订单</a></li>
								   
								  </ul>
								</div>
							</td>
						</tr>
				{% endfor %}
					</tbody>
				</table>
		</div>
		<div class="page-dis">
			<div class="meneame">
				{% if totalPage != 0 %}
					<a href="{{ path('guideList_', {'page': 1}) }}">首页</a>
					<a href="{{ path('guideList_', {'page': prePage}) }}"> < </a>
					{% if totalPage > 7 %}
						{% if page <= 4 %}
							{% for i in 1..7 %}
								<a href="{{ path('guideList_', {'page': i}) }}">{{ i }}</a>
							{% endfor %}
						{% elseif page > (totalPage - 4) %}
							{% for k in (totalPage-7)..(totalPage) %}
								<a href="{{ path('guideList_', {'page': k}) }}">{{ k }}</a>
							{% endfor %}
						{% else %}
							{% for j in (page-3)..(page+3) %}
								<a href="{{ path('guideList_', {'page': j}) }}">{{ j }}</a>
							{% endfor %}
						{% endif %}
					{% else %}
						{% if totalPage != 0 %}
							{% for m in 1..totalPage %}
								<a href="{{ path('guideList_', {'page': m}) }}">{{ m }}</a>
							{% endfor %}
						{% endif %}
					{% endif %}
					<a href="{{ path('guideList_', {'page': nextPage}) }}"> > </a>
					<a href="{{ path('guideList_', {'page': totalPage}) }}">尾页</a>
				{% endif %}
			</div>
		</div>
	</section>
</section>

{% endblock%}
