{% extends 'AcmeMinsuBundle::mainLayout.html.twig' %}

{% block javascript %} {{ parent() }}
<script src="{{ asset('bundles/msk/public/js/jquery.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
</script>
<style>
	.input-sm{margin-top:20px;}
</style>
{% endblock %}

{% block content%}<section class="alert">
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon homstay-detail"><span>&#128196;</span></span>
			<hgroup>
				<h1>货单信息</h1>
			</hgroup>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						<th>订单编号</th>											
						<th>下单时间</th>												
						<th>收货人</th>
						<th>联系电话</th>
						<th>所选物流</th>
						<th>物流费用</th>
						<th>支付时间</th>
						<th>订单总价</th>
						<th>操作</th>
					</tr>
				</thead>
					<tbody>
					{% for v in oList %}
						<tr>
						 	<td style="padding-left: 50px;">{{ v.order_sn }}</td>	
						 	<td>{{ v.NewAddTime }}</td>																			
							<td>{{ v.consignee }}</td>
							<td> {{ v.mobile }}</td>
							<td>{{ v.shipping_name }}</td>
							<td><font style="font: bold 12px/20px Verdana; color: #C00;">{{ v.shipping_price }}</font></td>
							<td>{% if v.pay_time==0%}0 {% else %}{{ v.NewPayTime }}{% endif %}</td>
							<td>{{ v.order_amount }}</td>	 
							<td>								
								{% if type==1 %}
									<button class="green"  onclick="location='{{ path('_mall_delivery_info',{order_sn:v.order_sn}) }}'">去发货</button>
								{% else %}
									<button class="blue"  onclick="location='{{ path('_mall_delivery_info',{order_sn:v.order_sn}) }}'">查看发货信息</button>
								{% endif %}
								<button class="green"  onclick="del({{v.order_id}})">删除</button>
							</td>
						</tr>
				{% endfor %}
					</tbody>
				</table>
		</div>
	</section>
			<div class="page-dis">
			<div class="meneame">
				<a href="{{ path('_mall_order_list', {'page': 1}) }}">首页</a>
				<a href="{{ path('_mall_order_list', {'page': prePage}) }}"> < </a>
				{% if totalPage >= 7 %}
					{% if page <= 4 %}
						{% for i in 1..7 %}
							<a href="{{ path('_mall_order_list', {'page': i}) }}">{{ i }}</a>
						{% endfor %}
					{% elseif page > (totalPage - 4) %}
						{% for k in (totalPage-7)..(totalPage) %}
							<a href="{{ path('_mall_order_list', {'page': k}) }}">{{ k }}</a>
						{% endfor %}
					{% else %}
						{% for j in (page-3)..(page+3) %}
							<a href="{{ path('_mall_order_list', {'page': j}) }}">{{ j }}</a>
						{% endfor %}
					{% endif %}
				{% else %}
					{% if totalPage != 0 %}
						{% for m in 1..totalPage %}
							<a href="{{ path('_mall_order_list', {'page': m}) }}">{{ m }}</a>
						{% endfor %}
					{% endif %}
				{% endif %}
				<a href="{{ path('_mall_order_list', {'page': nextPage}) }}"> > </a>
				<a href="{{ path('_mall_order_list', {'page': totalPage}) }}">尾页</a>
			</div>
		</div>
</section>
<script type="text/javascript">

	function agree(obj,order_id){
		$.ajax({
			url:"{{ path('_agreerefund')}}",
			type:"post",
			data:"order_id="+order_id,
			datatype:"json",
			success:function(e){
				if(e>0){
					history.go(0)
				}	
			}
		})
	}

	function unagree(obj,order_id){
		$.ajax({
			url:"{{ path('_unagreerefund')}}",
			type:"post",
			data:"order_id="+order_id,
			datatype:"json",
			success:function(e){
				if(e>0){
					history.go(0)
				}	
			}
		})
	}
	
	function del(order_id){
		$.ajax({
			url:"{{ path('_delmallorder')}}",
			type:"post",
			data:"order_id="+order_id,
			datatype:"json",
			success:function(e){
				if(e>0){
					history.go(0)
				}	
			}
		})
	}
	
</script>
{% endblock%}
